# SMTP Configuration
SMTP_HOST=smtp.yourprovider.com
SMTP_PORT=465
SMTP_SECURE=true

# Sender Passwords (Required. Add your actual passwords here)
EMAIL_1_PASS=your_email_1_password_here
EMAIL_2_PASS=your_email_2_password_here
EMAIL_3_PASS=your_email_3_password_here

# Backend Port (For local dev mode, defaults to 3001)
PORT=3001
